* {
    margin: 0 ;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
}

.navigation-menu {
    display: block;
    width: fit-content;
    padding: 32px 0;
    margin: 0 auto;
}

.navigation-menu-item {
    display: inline-block;
    margin: 0 72px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
}

.navigation-menu-link {
    color: black;
}

img {
    width: 100%;
}

.content {
    display: flex;
    padding: 88px 0;
    flex-direction: column;
    align-items: center;
}

.content-title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%;
}

.content-text {
    display: flex;
    width: 856px;
    padding: 40px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 0 24px;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
}

span {
    color: #04959E;
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}

.content-list {
    display: flex;
    margin: 24px 0 0 24px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.button {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.text-button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    background: #04959E;
    border: white;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.line {
    height: 1px;
    align-self: stretch;
}

.footer-text {
    display: flex;
    width: 856px;
    padding: 16px 0;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}





